In [1]:
#### Step 1 
# Import your pandas and confusion matrix


import pandas as pd
from sklearn.metrics import confusion_matrix

df = pd.DataFrame({
    'actual': ['coffee', 'no coffee', 'no coffee', 'coffee', 'coffee', 'coffee', 'no coffee', 'coffee'],
    'prediction': ['no coffee', 'no coffee', 'coffee', 'coffee', 'coffee', 'coffee', 'no coffee', 'no coffee'],
})
df

      actual prediction
0     coffee  no coffee
1  no coffee  no coffee
2  no coffee     coffee
3     coffee     coffee
4     coffee     coffee
5     coffee     coffee
6  no coffee  no coffee
7     coffee  no coffee

In [2]:
pd.crosstab(df.actual, df.prediction)

prediction  coffee  no coffee
actual
coffee           3          2
no coffee        1          2

In [3]:
confusion_matrix(df.actual, df.prediction,
                 labels = ('no coffee', 'coffee'))

array([[2, 1],
       [2, 3]])

In [4]:
df['baseline'] = 'coffee'

In [5]:
(df.actual == df.prediction).mean()

0.625

In [6]:
# Model Precision
subset = df[df.prediction == 'coffee']
subset

      actual prediction baseline
2  no coffee     coffee   coffee
3     coffee     coffee   coffee
4     coffee     coffee   coffee
5     coffee     coffee   coffee

In [7]:
(subset.prediction == subset.actual).mean()

0.75

In [8]:
from sklearn.metrics import classification_report

In [9]:
print(classification_report(df.actual, df.prediction))

              precision    recall  f1-score   support

      coffee       0.75      0.60      0.67         5
   no coffee       0.50      0.67      0.57         3

    accuracy                           0.62         8
   macro avg       0.62      0.63      0.62         8
weighted avg       0.66      0.62      0.63         8

In [10]:
#|               | actual dog   | actual cat   |
#|:------------  |-----------:|-----------:|
#| pred dog    |         46 |         13  |
#| pred cat    |          7 |         34 |

In [11]:
# TP = [PP, AP]
# FP = [PP, AN]
# FN = [PN, AP]
# TN = [PN, AN]

# Accuracy = (TP + TN) / (TP + FP + FN + TN)
# Recall = TP / (TP + FN)
# Precision = TP / (TP + FP)

TP = 46
FP = 13
FN = 7
TN = 34

In [49]:

Accuracy = (TP + TN) / (TP + FP + FN + TN)
Recall = TP / (TP + FN)
Precision = TP / (TP + FP)

In [50]:
Baseline, Accuracy, Recall, Precision

(0.92, 0.555, 0.532608695652174, 0.9702970297029703)

In [14]:
# In the context of this problem, what is a false positive?
#         Predicted it was a dog and actual was cat
# In the context of this problem, what is a false negative?
#         Predicted it was a cat and actual was dog 
# How would you describe this model?
#         Model is 27% over baseline.

In [15]:
c3_df = pd.read_csv('c3.csv')

In [16]:
c3_df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [17]:
drp2 = c3_df.drop(columns='model2')
drp2

        actual     model1     model3
0    No Defect  No Defect  No Defect
1    No Defect  No Defect     Defect
2    No Defect  No Defect  No Defect
3    No Defect     Defect     Defect
4    No Defect  No Defect  No Defect
..         ...        ...        ...
195  No Defect  No Defect     Defect
196     Defect     Defect  No Defect
197  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect
199  No Defect  No Defect     Defect

[200 rows x 3 columns]

In [18]:
model1_df= drp2.drop(columns='model3')
model1_df

        actual     model1
0    No Defect  No Defect
1    No Defect  No Defect
2    No Defect  No Defect
3    No Defect     Defect
4    No Defect  No Defect
..         ...        ...
195  No Defect  No Defect
196     Defect     Defect
197  No Defect  No Defect
198  No Defect  No Defect
199  No Defect  No Defect

[200 rows x 2 columns]

In [19]:
model3_df = drp2.drop(columns='model1')

In [20]:
model3_df

        actual     model3
0    No Defect  No Defect
1    No Defect     Defect
2    No Defect  No Defect
3    No Defect     Defect
4    No Defect  No Defect
..         ...        ...
195  No Defect     Defect
196     Defect  No Defect
197  No Defect  No Defect
198  No Defect     Defect
199  No Defect     Defect

[200 rows x 2 columns]

In [43]:
drp1 = c3_df.drop(columns='model1')
model2_df = drp1.drop(columns='model3')
c3_df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [22]:
# Model 1
model1_df = model1_df.rename(columns={'model1':'prediction_m1'})
model1_df
#series.value_counts()
#series.value_counts(normalize=True)
#a1 = model1_df.actual.value_counts()
#p1 = model1_df.prediction_m1.value_counts()

        actual prediction_m1
0    No Defect     No Defect
1    No Defect     No Defect
2    No Defect     No Defect
3    No Defect        Defect
4    No Defect     No Defect
..         ...           ...
195  No Defect     No Defect
196     Defect        Defect
197  No Defect     No Defect
198  No Defect     No Defect
199  No Defect     No Defect

[200 rows x 2 columns]

In [23]:
#pd.crosstab(df.actual, df.prediction)
pd.crosstab(model1_df.actual, model1_df.prediction_m1)

prediction_m1  Defect  No Defect
actual
Defect              8          8
No Defect           2        182

In [24]:
model1_conf_matrix = confusion_matrix(model1_df.actual, model1_df.prediction_m1,
                 labels = ('Defect', 'No Defect'))
model1_conf_matrix

array([[  8,   8],
       [  2, 182]])

In [25]:
TP = 182
FP = 8
FN = 2
TN = 8

In [26]:
Baseline = (TP + FN) / (TP + FP + FN + TN)
Accuracy = (TP + TN) / (TP + FP + FN + TN)
Recall = TP / (TP + FN)
Precision = TP / (TP + FP)

In [27]:
Baseline, Accuracy, Recall, Precision

(0.92, 0.95, 0.9891304347826086, 0.9578947368421052)

In [28]:
# Model 2
model2_df = model2_df.rename(columns={'model2':'prediction_m2'})
model2_df

        actual prediction_m2
0    No Defect        Defect
1    No Defect        Defect
2    No Defect        Defect
3    No Defect        Defect
4    No Defect        Defect
..         ...           ...
195  No Defect        Defect
196     Defect     No Defect
197  No Defect     No Defect
198  No Defect        Defect
199  No Defect     No Defect

[200 rows x 2 columns]

In [32]:
pd.crosstab(model2_df.actual, model2_df.prediction_m2)

prediction_m2  Defect  No Defect
actual
Defect              9          7
No Defect          81        103

In [33]:
model2_conf_matrix = confusion_matrix(model2_df.actual, model2_df.prediction_m2,
                 labels = ('Defect', 'No Defect'))
model2_conf_matrix

array([[  9,   7],
       [ 81, 103]])

In [34]:
TP = 103
FP = 7
FN = 81
TN = 9

In [35]:
Baseline = (TP + FN) / (TP + FP + FN + TN)
Accuracy = (TP + TN) / (TP + FP + FN + TN)
Recall = TP / (TP + FN)
Precision = TP / (TP + FP)

In [36]:
Baseline, Accuracy, Recall, Precision

(0.92, 0.56, 0.5597826086956522, 0.9363636363636364)

In [37]:
# Model 3
model3_df = model3_df.rename(columns={'model3':'prediction_m3'})
model3_df

        actual prediction_m3
0    No Defect     No Defect
1    No Defect        Defect
2    No Defect     No Defect
3    No Defect        Defect
4    No Defect     No Defect
..         ...           ...
195  No Defect        Defect
196     Defect     No Defect
197  No Defect     No Defect
198  No Defect        Defect
199  No Defect        Defect

[200 rows x 2 columns]

In [38]:
pd.crosstab(model3_df.actual, model3_df.prediction_m3)

prediction_m3  Defect  No Defect
actual
Defect             13          3
No Defect          86         98

In [39]:
model3_conf_matrix = confusion_matrix(model3_df.actual, model3_df.prediction_m3,
                 labels = ('Defect', 'No Defect'))
model3_conf_matrix

array([[13,  3],
       [86, 98]])

In [40]:
TP = 98
FP = 3
FN = 86
TN = 13

In [41]:
Baseline = (TP + FN) / (TP + FP + FN + TN)
Accuracy = (TP + TN) / (TP + FP + FN + TN)
Recall = TP / (TP + FN)
Precision = TP / (TP + FP)

In [42]:
Baseline, Accuracy, Recall, Precision

(0.92, 0.555, 0.532608695652174, 0.9702970297029703)

In [ ]:
# Baseline, Accuracy, Recall, Precision

#model 1
# 0.92, 0.95, 0.9891304347826086, 0.9578947368421052

#model 2
# 0.92, 0.56, 0.5597826086956522, 0.9363636363636364

#model 3
# 0.92, 0.555, 0.532608695652174, 0.9702970297029703

In [44]:
paws_df = pd.read_csv('gives_you_paws.csv')

In [45]:
paws_df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [47]:
# dog = pos
# cat = neg
# want to minimize false pos
# max Precision
# model 2

In [48]:
# model 4 best precision on cats

In [54]:
# Dataset - calculate basleline
# use 'actual' column with value count to see which value will be baseline
# Baseline is a model that we will also run metrics on

paws_df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [55]:
# since there are more dogs than cats baseline will be dog - it is most frequent